In [1]:
a = 10
var1 = 20
x = "pazartesi"

print(a)
print(var1)
print(x)
type(x)

10
20
pazartesi

str

In [2]:
#DEFINE A LIST
var1 = 10
var2 = 20
var3 = 30
list_int=[10,20,30]
print(list_int)

[10, 20, 30]

In [3]:
#First element of list
list_int[0]

10

In [4]:
#last element of list
list_int[-1]

30

In [5]:
#Variables in the range of list
list_int[0:3]

[10, 20, 30]

In [7]:
#To add variables to the list
list_int.append(25)
print(list_int)

[10, 20, 30, 25]

In [8]:
#To delete variables to the list
list_int.remove(25)
print(list_int)

[10, 20, 30]

In [9]:
#To print the list in reverse
list_int.reverse()
print(list_int)

[30, 20, 10]

In [10]:
#To sort the list from smallest to largest
list_int.sort()
print(list_int)

[10, 20, 30]

In [11]:
#To find maximum element with for loop
x = 10
for each in list_int:
    if(each > x):
        x = each
    else:
        continue
print(x)

30

In [12]:
#To print from a0 to 5 with while loop(5 is not included)
i = 0
while(i < 5):
    print(i)
    i = i+1

0
1
2
3
4

In [14]:
#To use function
def cember_cevre(r,pi=3.14):
    result = 2*pi*r
    return result
cember_cevre(2)

12.56

In [15]:
#Another example for function
def hesapla(x):
    result = x*x
    return result
hesapla(5)

25

In [16]:
#Shorter way to use function is lambda
result = lambda x:x*x
print(result(5))

25

In [17]:
#To use dictionary
dictionary={"betul":23, "beyaz":20, "irem":25} #keys&values
print(dictionary)

{'betul': 23, 'beyaz': 20, 'irem': 25}

In [18]:
type(dictionary)

dict

In [19]:
dictionary.keys()

dict_keys(['betul', 'beyaz', 'irem'])

In [20]:
dictionary.values()

dict_values([23, 20, 25])

In [21]:
#To find out if the keys is in the dictionary
b = dictionary.keys()
if "betul" in b:
    print("yes")
else:
    print("No")

yes